.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-menu h1 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.main-menu a {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  height: 1.4rem;
}

.main-menu a:hover {
  color: orange;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}
