@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ccc;
}

body {
  background-color: #30343f;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
/*
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

.toggle-container {
  margin-top: 20px;
}

.toggle-container div, .toggle-container h2 {
  margin-bottom: 10px;
  background-color: #24262d;
  border-radius: 8px;
  padding: 10px 30px;
}

h1 {
  margin-bottom: 15px;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

.svg-on {
  filter: invert(86%) sepia(99%) saturate(1580%) hue-rotate(42deg) brightness(95%) contrast(79%);
}

.svg-off {
  filter: invert(43%) sepia(10%) saturate(769%) hue-rotate(193deg) brightness(91%) contrast(86%);
}

.header-icon {
  height: 1.8rem;
}

.header-icon:hover {
  cursor: pointer;
  filter: invert(59%) sepia(47%) saturate(436%) hue-rotate(144deg) brightness(101%) contrast(95%);
}

.flex-row {
  display: flex;
  align-items: center;
}